@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
  /* Colors */
  --blue-900: hsl(209, 23%, 22%);
  --blue-950: hsl(207, 26%, 17%);
  --grey-950: hsl(200, 15%, 8%);
  --grey-400: hsl(0, 0%, 50%);
  --grey-350: hsl(0, 0%, 65%);
  --grey-250: hsl(0, 0%, 81%);
  --grey-50: hsl(0, 0%, 99%);
  --white: hsl(0, 100%, 100%);

  /* typography */
  --sans-serif: 'Nunito Sans', sans-serif;
  --summary-font-size: 0.875rem;
  --detail-font-size: 1rem;
}
* {
  color-scheme: light dark;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--sans-serif);
  background-color: var(--grey-50);
}
h2 {
  margin-block-end: 1rem;
}
p {
  margin-block-end: 0.5rem;
}
button {
  background-color: var(--white);
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--grey-250);
  border-radius: 0.325rem;
  cursor: pointer;
  color: var(--grey-400);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
.center {
  display: flex;
  justify-content: center;
}
.custom-shadow {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.05);
}
@media (min-width: 64rem) {
  body {
    width: 1024px;
    margin: auto;
  }
}
